<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block">Home</a>
    </div>
  </div>
</div>

<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  <div class="w3-panel">
    <h1><b>WELCOME TO MY CONTACT</b></h1>
  </div>

  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.6435-9/41524214_703096783387571_8587062564549033984_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=174925&_nc_eui2=AeEYEUx6dKX8btUjBrF1B4zyn04pCwdYfUqfTikLB1h9Sur4DUsTB9MpRwOH9qTl1PywUh7sxdsddue_kbzzQOCa&_nc_ohc=6Lcs2VHtP-sAX9lxPcC&_nc_ht=scontent.fbkk2-8.fna&oh=b64e125926164ae8d72d2ac3b1f2ae2c&oe=60CF1F38" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>Panyaporn Ngaosri</h3>
          <p class="w3-opacity">Computer Enginerring</p>
          <p>B6104641</p>
          <p><button class="w3-button w3-light-grey w3-block">FB: Pyp Kim</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <img src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.6435-9/124028835_1854029868088837_8968340577795485773_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeEbDtkUrhvGzbZD_Yiqeqb5sai818JcLNexqLzXwlws14TBp2P-1z4EzbDh5Ssw5PIAO4QFkFWz1XGz8pZIWTSv&_nc_ohc=MAakfwVeqlcAX9aHwC7&tn=1rdBwCM2QaG4S5iZ&_nc_ht=scontent.fbkk2-8.fna&oh=fa9de1676d47e74353e19c582f7caa02&oe=60CE9C03" alt="John" style="width:100%">
          <div class="w3-container">
            <h3>Guntachat Laoko</h3>
            <p class="w3-opacity">Computer Enginerring</p>
            <p>B6117078</p>
            <p><button class="w3-button w3-light-grey w3-block">FB: Guntachat Mastery Laoko</button></p>
          </div>
        </div>
    </div>

    <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <img src="https://scontent.fbkk2-5.fna.fbcdn.net/v/t1.6435-9/127223917_3490925717690340_5044008564663238901_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_eui2=AeEh8_ENz9d4ttif4a93ryGvHFB54_bEQZccUHnj9sRBl1yauxfqp5Tb3Jh0tGix3uDMWnF_ieLDPA_ETrC3t5QD&_nc_ohc=Knhndj6OzIYAX8IGqyf&_nc_ht=scontent.fbkk2-5.fna&oh=e2d20ebebc82159e837d064fd724403d&oe=60CE1D23" alt="John" style="width:100%">
          <div class="w3-container">
            <h3>Teerapat Saiprom</h3>
            <p class="w3-opacity">Computer Enginerring</p>
            <p>B6115296</p>
            <p><button class="w3-button w3-light-grey w3-block">FB: Ku Saiprom</button></p>
          </div>
        </div>
    </div>

    <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <img src="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.6435-9/41120913_2191480284255403_5732789469002596352_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=174925&_nc_eui2=AeFaFQf6lU6cYOV9D9TWGOJkKEIR2F55HQ4oQhHYXnkdDlL7Y2Cmi2GTXu3P6HSb8-UhQN4PvuXIP5OWB2Lr_VB-&_nc_ohc=0pc-xINC0FgAX_3RENy&tn=1rdBwCM2QaG4S5iZ&_nc_ht=scontent.fbkk2-8.fna&oh=d874a7eacc126011cfa7063bfe6b176f&oe=60CF113E" alt="John" style="width:100%">
          <div class="w3-container">
            <h3>Khonlawat Kleawthanong</h3>
            <p class="w3-opacity">Computer Enginerring</p>
            <p>B6103422</p>
            <p><button class="w3-button w3-light-grey w3-block">FB: Phet Khonlawat</button></p>
          </div>
        </div>
        </div>
    </div>

  <!-- Contact -->
  <div class="w3-center w3-padding-64" id="contact">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact Us</span>
  </div>

  <form class="w3-container" [formGroup]="contactForm">
    <div class="w3-section">
      <label>Name</label>
      <input id="error" type="text" class="form-control" placeholder="{{contact[0].name}}" formControlName='name'>
    </div>
    <div class="w3-section">
      <label>Email</label>
      <input id="error" type="text" class="form-control" placeholder="{{contact[0].email}}"formControlName='email'>
    </div>
    <div class="w3-section">
      <label>Subject</label>
      <input id="error" type="text" class="form-control" placeholder="{{contact[0].subject}}"formControlName='subject'>
    </div>
    <div class="w3-section">
      <label>Message</label>
      <input id="error" type="text" class="form-control" placeholder="{{contact[0].message}}"formControlName='message'>
    </div>
    <button type="submit" class="btn btn-primary" (click)="putData()" id="accept">Send</button>
  </form>

</div>

<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer>


<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
