<div class="card">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <div class="card-body">
      <h4 class="card-title"> </h4>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <form [formGroup]="userForm">
            <div class="card">
              <div class="card-header">Register Form</div>
              <div class="card-body">
                
                <div class="row">
                  <div class="col-md-3">Username:</div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="username"
                      />
                    </div>
                  </div>
              </div>
              <p></p>
              
              <div class="row">
                  <div class="col-md-3">Password:</div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="password"
                      />
                    </div>
                  </div>
              </div>
              <p></p>
                
                <div class="row">
                  <div class="col-md-3">Prefix Type:</div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <select class="form-control" formControlName="type">
                        <option value=""></option>
                        <option *ngFor="let item of prefixType" [value]="item">
                          {{ item }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <p></p>
  
                <div class="row">
                  <div class="col-md-3">First Name:</div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="fname"
                      />
                    </div>
                  </div>
                </div>
                <p></p>
                
                <div class="row">
                    <div class="col-md-3">Last Name:</div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="lname"
                        />
                      </div>
                    </div>
                </div>
                <p></p>

                <div class="row">
                    <div class="col-md-3">E-mail:</div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input type="text" class="form-control"formControlName="email" >
                        <div *ngIf="fromdata.email.invalid && (fromdata.email.dirty || fromdata.email.touched)" class="alert aler-danger">
                          <div *ngIf="fromdata.email.errors?.required">
                            please enter your email address
                          </div>
                          <div *ngIf="fromdata.email.errors?.email">
                            invalid email format!
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <p></p>

                <div class="row">
                    <div class="col-md-3">Phone:</div>
                    <div class="col-md-9">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="phone"
                        />
                        <div *ngIf="fromdata.phone.invalid && (fromdata.phone.dirty || fromdata.phone.touched)" class="alert aler-danger">
                          <div *ngIf="fromdata.phone.errors?.required">
                              please enter your phone number
                          </div>
                          <div *ngIf="fromdata.phone.errors?.phone">
                            invalid phone number!
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <p></p>

                <div class="row">
                  <div class="col-md-3">ID Cardimage:</div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <input
                        type="file"
                        class="form-control-file"
                        formControlName="file"
                        (change)="onChangeImg($event)"
                      />
                    </div>
                  </div>
                </div>
                <div class="jumbotron text-center">
                  <p></p>
                   
              
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-9">
                    <img
                      *ngIf="previewLoaded"
                      class="w3-round-large"
                      src="img_lights.jpg" 
                      [src]="this.userForm.value.img"
                      alt="Norway" style="width:30%"
                    />
                  </div>
                </div>
                <p></p>
              </div>
              
              <div class="w3-bar">
                <button class="w3-bar-item w3-button w3-blue" style="width:33.3%" (click)="register()" >register</button>
                <button class="w3-bar-item w3-button w3-amber" style="width:33.3%" (click)="resetForm()" >reset</button>
                <button class="w3-bar-item w3-button w3-dark-grey" style="width:33.3%" (click)="backForm()" >back</button>
              </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-8"></div>
      </div>
    </div>
  </div>
  