<nav class="navbar navbar-expand-md bg-white navbar-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="home" class="navbar-brand btn btn-white"> <a class="navbar-brand" href="#">
    <img src="https://image.flaticon.com/icons/png/512/3173/3173726.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Luxury Place
  </a></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a routerLink="showproducts" routerLinkActive="active" class="btn btn-white">Products</a>
        </li>
        <li class="nav-item">
          <a routerLink="addproduct" routerLinkActive="active" class="btn btn-white">Add Product</a>
        </li>
      </ul>
    </div>
    <a routerLink="cart" class="btn btn-dark">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart 
      <span class="badge badge-info">{{getCounter()}}</span>
    </a>
</nav>
    <router-outlet></router-outlet>


    
